@page
@model _FictionalProgrammers.Pages.Projects.IndexModel



<div class="container p-3">
    <div class=row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Projects</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-page="create" class="btn btn-primary">
                <i class="bi bi-pencil-square"></i> &nbsp; Create New Project
            </a>
        </div>
    </div>
<div class="dropdown indexDropdown">
    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        Sort by
        <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
        <li><a Style="color:black"  asp-route-sortOrder="?sort=titleasc">Name asc</a></li>
        <li><a Style="color:black"  asp-route-sortOrder="?sort=titledesc">Name desc</a></li>
        @*<li><a Style="color:black"  asp-route-sortOrder="?sort=programmerasc">Programmer asc</a></li>
        <li><a Style="color:black"  asp-route-sortOrder="?sort=programmerdesc">Programmer desc</a></li>*@
        <li><a Style="color:black"  asp-route-sortOrder="?sort=categoryasc">Category asc</a></li>
        <li><a Style="color:black"  asp-route-sortOrder="?sort=categorydesc">Category desc</a></li>
        <li><a Style="color:black"  asp-route-sortOrder="?sort=locationasc">Location asc</a></li>
        <li><a Style="color:black"  asp-route-sortOrder="?sort=locationdesc">Location desc</a></li>
    </ul>
</div>

    <br /><br />

    <br /><br />    

    <table class="table table-bordered table-striped" style="100%">
        <thead>
            <tr>
                <th>
                    ID
                </th>
                <th>
                    Name
                </th>
                <th>
                    Programmer
                </th>
                <th>
                    Created
                </th>
                <th>
                    End date
                </th>
                <th>
                    Location
                </th>
                <th>
                    Category
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach(var obj in Model.Projects)
            {
                <tr>
                    <td width=5%>
                    @obj.Id
                </td>
                    <td width=20%>
                    @obj.Name
                </td>
                <td width=20%>
                    @obj.PrintAllProgrammers()
                </td>
                <td width=20%>
                    @obj.CreatedDateTime
                </td>
                <td width=20%>
                    @obj.EndDateTime
                </td>
                <td width=15%>
                    @obj.Location
                </td>
                <td width=30%>
                    @obj.Category
                </td>
                <th>
                    <div class="w-80 btn-group" role="group">
                        <a asp-page="Edit" asp-route-id="@obj.Id" class="btn btn-primary mx-2">
                        <i class="bi bi-pencil-square">
                        </i>Edit</a>
                        <a asp-page="Delete" asp-route-id="@obj.Id"
                        class="btn btn-danger mx-2"><i class="bi bi-trash-fill"></i>Delete</a>
                    </div>
                </th>
                </tr>
            }
        </tbody>
    </table>
</div>
